# Members of group 18
Hallvard Johan Hægdahl Jensen <hjjensen@stud.ntnu.no> <hallvard.jensen@gmail.com>
Oda Marie Imingen Skjellet <omskjell@stud.ntnu.no>
Torje Markussen <torjemar@stud.ntnu.no> <torjemarkussen@gmail.com>
Robert Thor Arnarsson <roberarn@stud.ntnu.no>
